.contact__container {
  display: flex;
  margin-right: 2em;
  height: 90%;
}

.contact__tank-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  border-radius: 3em/1.2em;
  box-shadow: inset 5px -8px 12px rgba($gray1-shadow, 0.5),
    inset 10px 15px 25px rgba($gray2-shadow, 0.7);

  &::before {
    border-radius: 3em/1.2em;
    content: "";
    height: 3em;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    box-shadow: inset 0px 15px 12px rgba($gray2-shadow, 0.7),
      inset 0px 15px 25px rgba($gray1-shadow, 0.7);
  }
}

.contact__tank-grid {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 7fr;
  justify-items: center;
  align-items: center;
}

.contact__tank-name {
  grid-row: 2/3;
}

.contact__detail-container {
  grid-row: 3/4;
  width: 90%;
}

.contact__intro {
  text-align: center;
  font-style: italic;
}

.contact__text {
  text-align: center;
}

.contact-icons {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.contact-link {
  padding: 10px;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  color: $yellow;

  &:hover {
    color: $mint;
  }
}
