/* .navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  justify-content: flex-end;
}
 */

 .navbar > .container,
.navbar > .container-fluid {
   justify-content: flex-end;
}


 /* .navbar .navbar-collapse .collapse .show {
    background-color: chocolate;
    align-self: center;
    justify-content: center;
 } */

 .navbar-collapse {
    justify-content: center;
}

.nav-item {
   font-size: 1.2rem;
   text-align: center;
   margin: 0 0.5em;

}

.navbar-light .navbar-toggler {
   color: rgb(232 201 201 / 55%);
   border-color: rgba(0,0,0,.1);
}









/* bg ref */