.home__grid-container {
  display: grid;
  grid-template-columns: 0.5fr repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.home__supply {
  grid-column: 1/3;
  grid-row: 2/5;
 // background-color:rgb(112, 150, 156);
}

.home__supply-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.home__name-line {
  grid-column: 1/4;
  grid-row: 2/3;
  height: 3.1em;
  display: flex;
  justify-content: flex-end;
  margin-right: -30%;
 // background-color:rgb(179, 65, 65);
}

.home__name-secondary {
  grid-column: 4/5;
  grid-row: 2/4;
  height: 75%;
  justify-self: end;
  //background-color: rgb(78, 103, 185);
  
}

.home__position-line {
  grid-column: 1/4;
  grid-row: 4/5;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: -30%;
 // background-color: rgb(226, 155, 48);
}

.home__position-secondary {
  grid-column: 4/5;
  grid-row: 3/5;
  height: 75%;
  align-self: end;
  justify-self: end;
}

.home__supply-line {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #686868;
  color: rgb(94, 90, 90);
  height: 2em;
  width: 80%;
  box-shadow: 0px 0px 0px #eee, 
              0px 0px 0px #7c7c7c, 
              inset 0px 15px 12px #eee,
              inset 0px 15px 25px #7c7c7c;

  cursor: pointer;
  transition: all 300ms ease;
}

.home__complementary-supply-line {
 /*  grid-column: 2/3;
  grid-row: 3/4;
  justify-self: end; */
 // background-color:slateblue ;
}

.home__output-about {
  align-self: flex-end;
  grid-column: 3/5;
  grid-row: 1/2;
  // background-color: red;
}

.home__output-about-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.home__output-about-first {
  grid-column: 1/2;
  align-self: center;
  justify-self: end;
  width: 55%;
  // background-color: dodgerblue;
}

.home__output-about-second {
  grid-column: 2/3;
  // background-color: fuchsia;
}

.home__mix {
  grid-column: 3/4;
  grid-row: 2/5;
  z-index: 9999;
  //background-color: rgb(76, 0, 255);
}

.home__mix-container {
  display: grid;
  grid-template-rows: 0.5fr 1fr 0.5fr;
  justify-items: center;
  //background-color: aqua;
}

.home__mix-line-top {
  grid-row: 1/2;
  margin-top: -2em;
  margin-bottom: -1em;
  z-index: 9999;
  // background-color: rgb(0, 255, 0);
}

.home__mix-tank-main {
  grid-row: 2/3;
  // background-color: rgb(234, 0, 255);
}

.home__mix-tank-container {
  display: grid;
  grid-template-columns: 1.2fr 2fr 1.2fr;
 //  background-color: #67eb8f;
}

.home__mix-tank-left {
  grid-column: 1/2;
  align-self: center;
  //background-color: rgb(139, 55, 160);
}

.home__mix-tank {
  grid-column: 2/3;
  color: white;
 // background-color: rgb(104, 20, 73);
}

.home__tank-agitator {
  width: 3em;
  color: #eee;
}

.home__mix-tank-right {
  grid-column: 3/4;
  align-self: center;
 // background-color: rgb(199, 173, 127);
}

.home__mix-line-bottom {
  grid-row: 3/4;
  margin-bottom: -3.4em;
  // background-color: rgb(0, 255, 0);
}

.home__output-contact {
  align-self: center;
  grid-column: 3/5;
  grid-row: 5/6;
  // background-color: red;
}

.home__output-contact-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.home__output-contact-first {
  grid-column: 1/2;
  align-self: center;
  justify-self: end;
  width: 55%;
  // background-color: dodgerblue;
}

.home__output-contact-second {
  grid-column: 2/3;
}

.home__output-proyects {
  align-self: center;
  grid-column: 4/5;
  grid-row: 3/4;
  //background-color: red;
}

.home__about-link {
  grid-column: 5/7;
  grid-row: 1/3;
  // background-color: orange;
}

.home__proyects-link {
  grid-column: 5/7;
  grid-row: 3/5;
  // background-color: rgb(0, 255, 0);
}

.home__contact-link {
  grid-column: 5/7;
  grid-row: 5/7;
  //background-color: rgb(0, 140, 255);
}

.home__tank {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 3em/1.2em;
  background-color: rgba(160, 160, 160, 0.5);
  

  &::before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    border-radius: 3em/1.2em;
    box-shadow: inset 0px 15px 12px rgba(66, 65, 65, 0.7),
                inset 0px 15px 25px rgba(253, 253, 253, 0.7);
  }
}

.home__tank-size-link {
  // width: 10em;
  width: 15em;
  height: 7em;
  box-shadow: inset 5px -8px 12px rgba(255, 255, 255, 0.5),
              inset 10px 15px 25px rgba(66, 65, 65, 0.7);

  cursor: pointer;
  transition: all 300ms ease;

  &::before {
    width: 15em;
    height: 2em;
  }

  &:hover {
    color: 2px 2px 3px rgb(180, 172, 172);
   // text-shadow: 2px 2px 3px rgb(226, 213, 213);
    box-shadow: -10px -8px 12px rgba(255, 255, 255, 0.5),
      10px 15px 15px rgba(194, 194, 194, 0.7);
  }


}

.nav-link {
  color: white;
  font-size: 1.3em;

  &:hover {
    color:$green;
    color: 2px 2px 3px rgb(214, 241, 216);   
  }
}

.home__main-line {
  background-color: #686868;
  color: rgb(94, 90, 90);
  height: 1.5em;
  box-shadow: 0px 0px 0px #eee, 
              0px 0px 0px #7c7c7c, 
              inset 0px 15px 12px #eee,
              inset 0px 15px 25px #7c7c7c;
}

.home__main-line-valve {
  width: 88%;
}

.home__main-line-no-valve {
 /*  box-shadow: 0px 0px 0px #eee, 
              0px 0px 0px #7c7c7c, 
              inset 0px 15px 12px #eee,
              inset 0px 15px 25px #7c7c7c; */
}

.home__secondary-line {
  height: 100%;
  width: 1.6em;
  background-color: #696969;
  color: rgb(94, 90, 90);
  box-shadow: 0px 0px 0px #eee, 
              0px 0px 0px #7c7c7c, 
              -20px 5px 10px #eee inset,
              0px 25px 15px #7c7c7c inset;
}

.home__valve-connection {
  display: flex;
  justify-content: center;
  align-items: center;
  //background-color: #686868;
  color: $green;
  font-weight: 500;

  box-shadow: 0px 0px 0px #eee, 
              0px 0px 0px #7c7c7c, 
              inset 0px 25px 25px #eee, 
              inset 20px 10px 10px #7c7c7c;
  


  cursor: pointer;
  transition: all 300ms ease;
}

.home__valve-connection {
  height: 2.5em;
  width: 12%;
}

.home__output-line-horizontal {
  display: flex;
  align-items: center;
}

.home__tank-mix {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3em/1.2em;
  //background-color: rgba(78, 78, 44, 0.548);
  color: white;
  position: relative;
  overflow: hidden;

  &::before {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 3em/1.2em;
    box-shadow: inset 0px 15px 12px rgba(66, 65, 65, 0.7),
      inset 0px 15px 25px rgba(253, 253, 253, 0.7);
    content: "";
  }
}

.home__tank-size-mix {
  display: flexbox;
  align-items:flex-end;
  text-align: center;
  width: 7em;
  height: 8em;
  box-shadow: inset 5px -8px 12px rgba(255, 255, 255, 0.5),
              inset 10px 15px 25px rgba(66, 65, 65, 0.7);

 // cursor: pointer;
  //: all 300ms ease;

  &::before {
    //width: 10em;
    width: 7em;
    //height: 50px;
    height: 2em;
  }

  /* &:hover {
    color: 2px 2px 3px rgb(180, 172, 172);
    text-shadow: 2px 2px 3px rgb(226, 213, 213);

    box-shadow: -10px -8px 12px rgba(255, 255, 255, 0.5),
               10px 15px 15px rgba(194, 194, 194, 0.7);
  } */
}

.home__agitator {
  font-size: 2.5em;
}

.home__agitator-item {
  margin-bottom: -0.8em;
}





@media (max-width: 767.9px) { 

  .home__grid-container {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr;
    grid-template-rows: repeat(8, 1fr);

    background-color: orange;
  }
  
  .home__supply {
    grid-column: 2/7;
    grid-row: 2/3; 
    background-color:rgb(112, 150, 156);
  }
  
  .home__supply-content {
   /*  display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr); */
  }
  
  .home__name-line {
    /* grid-column: 1/4;
    grid-row: 2/3;
    height: 3.1em;
    display: flex;
    justify-content: flex-end;
    margin-right: -30%; */  
   // background-color:rgb(179, 65, 65);
  }
  
  .home__name-secondary {
   /*  grid-column: 4/5;
    grid-row: 2/4;
    height: 75%;
    justify-self: end; */
    //background-color: rgb(78, 103, 185);
    
  }
  
  .home__position-line {
   /*  grid-column: 1/4;
    grid-row: 4/5;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: -30%; */
   // background-color: rgb(226, 155, 48);
  }
  
  .home__position-secondary {
  /*   grid-column: 4/5;
    grid-row: 3/5;
    height: 75%;
    align-self: end;
    justify-self: end; */
  }
  
  .home__supply-line {
   /*  display: flex;
    align-items: center;
    justify-content: center;
    background-color: #686868;
    color: rgb(94, 90, 90);
    height: 2em;
    width: 80%;
    box-shadow: 0px 0px 0px #eee, 
                0px 0px 0px #7c7c7c, 
                inset 0px 15px 12px #eee,
                inset 0px 15px 25px #7c7c7c;
  
    cursor: pointer;
    transition: all 300ms ease; */
  }
  
  .home__complementary-supply-line {
   /*  grid-column: 2/3;
    grid-row: 3/4;
    justify-self: end; */
   // background-color:slateblue ;
  }
  
  .home__output-about {
    // align-self: flex-end;
    grid-column: 2/3;
    grid-row: 6/7; 
    background-color: red;
  }
  
  .home__output-about-content {
  /*   display: grid;
    grid-template-columns: repeat(2, 1fr); */
  }
  
  .home__output-about-first {
    /* grid-column: 1/2;
    align-self: center;
    justify-self: end;
    width: 55%; */
    // background-color: dodgerblue;
  }
  
  .home__output-about-second {
   // grid-column: 2/3;
    // background-color: fuchsia;
  }
  
  .home__mix {
    grid-column: 4/5;
    grid-row: 3/6;
    z-index: 9999; 
    background-color: rgb(76, 0, 255);
  }
  
  .home__mix-container {
   /*  display: grid;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    justify-items: center; */
    //background-color: aqua;
  }
  
  .home__mix-line-top {
   //  grid-row: 1/2;
    margin-top: 0em;
   // margin-bottom: -1em;
   // z-index: 9999; 
    // background-color: rgb(0, 255, 0);
  }
  
  .home__mix-tank-main {
  //  grid-row: 2/3;
    // background-color: rgb(234, 0, 255);
  }
  
  .home__mix-tank-container {
  /*   display: grid;
    grid-template-columns: 1.2fr 2fr 1.2fr; */
   //  background-color: #67eb8f;
  }
  
  .home__mix-tank-left {
  /*   grid-column: 1/2;
    align-self: center; */
    //background-color: rgb(139, 55, 160);
  }
  
  .home__mix-tank {
  /*   grid-column: 2/3;
    color: white; */
   // background-color: rgb(104, 20, 73);
  }
  
  .home__tank-agitator {
   /*  width: 3em;
    color: #eee; */
  }
  
  .home__mix-tank-right {
   /*  grid-column: 3/4;
    align-self: center; */
   // background-color: rgb(199, 173, 127);
  }
  
  .home__mix-line-bottom {
   /*  grid-row: 3/4;
    margin-bottom: -3.4em; */
    // background-color: rgb(0, 255, 0);
  }
  
  .home__output-contact {
  //  align-self: center;
    grid-column: 6/7;
    grid-row: 6/7;
    background-color: red;
  }
  
  .home__output-contact-content {
//    display: grid;
    //grid-template-columns: repeat(2, 1fr);
  }
  
  .home__output-contact-first {
    /* grid-column: 1/2;
    align-self: center;
    justify-self: end;
    width: 55%; */
    // background-color: dodgerblue;
  }
  
  .home__output-contact-second {
   /*  grid-column: 2/3; */
  }
  
  .home__output-proyects {
    //align-self: center;
    grid-column: 4/5;
    grid-row: 6/7; 
    background-color: red;
  }
  
  .home__about-link {
    grid-column: 2/3;
    grid-row: 7/8; 
    background-color: orange;
  }
  
  .home__proyects-link {
    grid-column: 4/5;
    grid-row: 7/8; 
    background-color: rgb(0, 255, 0);
  }
  
  .home__contact-link {
    grid-column: 6/7;
    grid-row: 7/8;
    //background-color: rgb(0, 140, 255);
  }
  
  .home__tank {
    /* display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 3em/1.2em;
    background-color: rgba(160, 160, 160, 0.5); */
    
  
    &::before {
     /*  position: absolute;
      left: 0;
      top: 0;
      content: "";
      border-radius: 3em/1.2em;
      box-shadow: inset 0px 15px 12px rgba(66, 65, 65, 0.7),
                  inset 0px 15px 25px rgba(253, 253, 253, 0.7); */
    }
  }
  
  .home__tank-size-link {
    width: 7em;
    height: 7em;
    // width: 10em;
   /*  width: 15em;
    height: 7em;
    box-shadow: inset 5px -8px 12px rgba(255, 255, 255, 0.5),
                inset 10px 15px 25px rgba(66, 65, 65, 0.7);
  
    cursor: pointer;
    transition: all 300ms ease; */
  
    &::before {
      width: 7em;
      height: 2em; 
    }
  
    &:hover {
     color: 2px 2px 3px rgb(180, 172, 172);
     // text-shadow: 2px 2px 3px rgb(226, 213, 213);
      box-shadow: -10px -8px 12px rgba(255, 255, 255, 0.5),
        10px 15px 15px rgba(194, 194, 194, 0.7); 
    }
  
  
  }
  
  .nav-link {
    /* color: white;
    font-size: 1.3em; */
  
    &:hover {
  /*     color:$green;
      color: 2px 2px 3px rgb(214, 241, 216);  */ 
    } 
  }
  
  .home__main-line {
    /* background-color: #686868;
    color: rgb(94, 90, 90);
    height: 1.5em;
    box-shadow: 0px 0px 0px #eee, 
                0px 0px 0px #7c7c7c, 
                inset 0px 15px 12px #eee,
                inset 0px 15px 25px #7c7c7c; */
  }
  
  .home__main-line-valve {
    /* width: 88%; */
  }
  
  .home__main-line-no-valve {
   /*  box-shadow: 0px 0px 0px #eee, 
                0px 0px 0px #7c7c7c, 
                inset 0px 15px 12px #eee,
                inset 0px 15px 25px #7c7c7c; */
  }
  
  .home__secondary-line {
  /*   height: 100%;
    width: 1.6em;
    background-color: #696969;
    color: rgb(94, 90, 90);
    box-shadow: 0px 0px 0px #eee, 
                0px 0px 0px #7c7c7c, 
                -20px 5px 10px #eee inset,
                0px 25px 15px #7c7c7c inset; */
  }
  
  .home__valve-connection {
    /* display: flex;
    justify-content: center;
    align-items: center;
    //background-color: #686868;
    color: $green;
    font-weight: 500;
  
    box-shadow: 0px 0px 0px #eee, 
                0px 0px 0px #7c7c7c, 
                inset 0px 25px 25px #eee, 
                inset 20px 10px 10px #7c7c7c;
    
  
  
    cursor: pointer;
    transition: all 300ms ease; */
  }
  
  .home__valve-connection {
    /* height: 2.5em;
    width: 12%; */
  }
  
  .home__output-line-horizontal {
    /* display: flex;
    align-items: center; */
  }
  
  .home__tank-mix {
    /* display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3em/1.2em;
    //background-color: rgba(78, 78, 44, 0.548);
    color: white;
    position: relative;
    overflow: hidden; */
  
    &::before {
    /*   position: absolute;
      left: 0;
      top: 0;
      border-radius: 3em/1.2em;
      box-shadow: inset 0px 15px 12px rgba(66, 65, 65, 0.7),
        inset 0px 15px 25px rgba(253, 253, 253, 0.7);
      content: ""; */
    }
  }
  
  .home__tank-size-mix {
    /* display: flexbox;
    align-items:flex-end;
    text-align: center;
    width: 7em;
    height: 8em;
    box-shadow: inset 5px -8px 12px rgba(255, 255, 255, 0.5),
                inset 10px 15px 25px rgba(66, 65, 65, 0.7); */

  
   /*  &::before {
      //width: 10em;
      width: 7em;
      //height: 50px;
      height: 2em;
    } */
  
    
  }
  
  .home__agitator {
    //font-size: 2.5em;
  }
  
  .home__agitator-item {
   // margin-bottom: -0.8em;
  }
  

  
 
 }