.proyect__container {
  display: flex;
  margin-right: 2em;
  height: 90%;
}

.proyect__tank-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  border-radius: 3em/1.2em;
  //background-color: rgba(122, 10, 10, 0.856);
  box-shadow: inset 5px -8px 12px rgba(255, 255, 255, 0.5),
    inset 10px 15px 25px rgba(66, 65, 65, 0.7);

  &::before {
    border-radius: 3em/1.2em;
    content: "";
    height: 3em;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    box-shadow: inset 0px 15px 12px rgba(66, 65, 65, 0.7),
      inset 0px 15px 25px rgba(253, 253, 253, 0.7);
  }
}

.proyect__tank-grid {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 7fr;
  justify-items: center;
  align-items: center;
}

.proyect__tank-name {
  grid-row: 2/3;
}

.proyect__card-container {
  grid-row: 3/4;
  width: 90%;
  display: flex;

  .card {
  
  }

  .accordion-button {
    color: #484e4a;
    box-shadow: none;
  }

  .accordion-button:not(.collapsed) {
    color: white;
    background-color: rgba(0, 0, 0, 0.82);
  }
}

.proyect__card {
  background-color: rgba(0, 0, 0, 0.3);
  margin-left: 0.5em;
  margin-right: 0.5em;
  text-align: center;
}

.accordion-body {
  color: black;

  a {
    color: rgb(30, 210, 99);
    text-decoration: none;
  }

  a:hover {
    color: red;
    text-decoration: underline;
  }
}

.icon-page {
  margin-right: 0.2em;
}
.proyect__card-image {
  //width: 300px;
}

.accordion-item {
  //background-color: #fff;
  // background-color: rgb(138, 19, 19);
  border: none;
}

.proyect-gear {
  animation-name: rotate-gear-proyect;
  /* color: rgba(12, 10, 10, 0.7);
  box-shadow: 0 0 15px rgba(248, 248, 248, 0.7); */
}

@keyframes rotate-gear-proyect {
  from {
    transform: rotateZ(360deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}

@media (max-width: 769px) {
  .proyect__tank-container {
  }

  .proyect__card-container {
    display: flex;
    flex-wrap: wrap;
    height: 85%;
    overflow: auto;
    font-size: 0.8em;
  }

  .proyect__card-container::-webkit-scrollbar {
    width: 0.5em;
  }

  .proyect__card-container::-webkit-scrollbar-thumb {
    background-color: #eee;
    border-radius: 0.2em;
  }

  .proyect__card {
    margin-bottom: 2em;
  }

  .proyect__card-image {
    // width: 30em;
  }

  .accordion-body {
    a {
      display: block;
      color: rgb(210, 162, 30);
    }
  }
}

@media (max-width: 322px) {
  .proyect__card-container {
    height: 80%;
  }
}
