.proyect__container {
  display: flex;
  margin-right: 2em;
  height: 90%;
  color: $blue-l;
}

.proyect__tank-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  border-radius: 3em/1.2em;
  box-shadow: inset 5px -8px 12px rgba($gray1-shadow, 0.5),
    inset 10px 15px 25px rgba($gray2-shadow, 0.7);

  &::before {
    border-radius: 3em/1.2em;
    content: "";
    height: 3em;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    box-shadow: inset 0px 15px 12px rgba($gray2-shadow, 0.7),
      inset 0px 15px 25px rgba($gray1-shadow, 0.7);
  }
}

.proyect__tank-grid {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 7fr;
  justify-items: center;
  align-items: center;
}

.proyect__tank-name {
  grid-row: 2/3;
}

.proyect__card-container {
  grid-row: 3/4;
  width: 90%;
  display: flex;

  .card-text_tech {
    display: flex;

    .badge {
      color: $blue-l;
      padding: 0.5em 0.65em;
      line-height: normal;
    }
  }

  .card-text_tech-list {
    font-size: 0.7em;
    margin: 0;
    padding: 0.5em 0.65em;
    text-align: left;
  }

  .accordion-button {
    color: $blue-l;
    box-shadow: none;
  }

  .accordion-button:not(.collapsed) {
    color: $bg-white;
    background-color: rgba($bg_black, 0.82);
  }
}

.proyect__card {
  background-color: rgba($bg_black, 0.3);
  margin-left: 0.5em;
  margin-right: 0.5em;
  text-align: center;
}

.accordion-body {
  a {
    color: $mint;
    text-decoration: none;
  }

  a:hover {
    color: $mustard;
    text-decoration: underline;
  }
}

.icon-page {
  margin-right: 0.2em;
}

.proyect__card-image {
  width: 95%;
  align-self: center;
}

.accordion-item {
  border: none;
}

.proyect-gear {
  animation-name: rotate-gear-proyect;
}

@keyframes rotate-gear-proyect {
  from {
    transform: rotateZ(360deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}

@media (max-width: 769px) {
  .proyect__card-container {
    display: flex;
    flex-wrap: wrap;
    height: 85%;
    overflow: auto;
    font-size: 0.8em;
  }

  .proyect__card-container::-webkit-scrollbar {
    width: 0.5em;
  }

  .proyect__card-container::-webkit-scrollbar-thumb {
    background-color: $bg-white;
    border-radius: 0.2em;
  }

  .proyect__card {
    margin-bottom: 2em;
  }

  .proyect__card-image {
    width: 100%;
  }

  .accordion-body {
    a {
      display: block;
    }

    .card-link + .card-link {
      margin-left: 0rem;
    }
  }
}

@media (max-width: 322px) {
  .proyect__card-container {
    height: 80%;
  }
}
