@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$primary: #7a2952;
$mint: #3bceac;
$blue-l: #0a1116;
$bg-white: #eee;
$bg_black: rgb(0, 0, 0);
$red: #c71d17;
$gray1-shadow: rgb(255, 255, 255);
$gray2-shadow: rgb(66, 65, 65);
$mustard: #c79217;
$yellow: #ffd23f;

$font-family-title: "Montserrat", sans-serif;
$font-family-base: "Roboto", sans-serif;
