
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$primary:#7a2952;
$pink:#ee4266;
$yellow:#ffd23f;
$mint:#3bceac;
$green:#0ead69;


$red: #c71d17;
$mustard: #C79217;
$blue-l: #101C24;
$red-hover: #F7DEDD;
$blue-menu: #7BC8E1;


$font-family-title: 'Montserrat', sans-serif;
$font-family-base: 'Roboto', sans-serif;